.date-picker-popup {
    position: absolute;
    display: none;
    padding: 10px;
    border: 1px #ddd solid;
}

.date-picker-topbar {
    display: flex;
}
.date-picker-topbar div {
    flex-grow: 1;
    display: inline-block;
    text-align: center;
}

.year-selector {
    cursor: pointer;
}

.date-picker-day {
    border: 1px black solid;
}
